<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	<div class="container">
	
	<div class="table-responsive">
	<div class="container text-center">
	
	<img th:src="@{'/img/'+${user.imageUrl}}" width="100" height="100" alt="" />
	<h1 class="text-center"><span th:text="${user.name}"></span></h1>
	</div>
	<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Enabled</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <th scope="row"><span th:text="'SCM'+${user.id}"></span></th>
      <td>
      <span th:text="${user.name}"></span>
   
      </td>
      <td>
   
      <span th:text="${user.email}"></span>
      
      </td>
      <td><span th:text="${user.role}"></span></td>
       <td>
      <span th:text="${user.enabled}"></span>
       </td>
    </tr>
   
  </tbody>
</table>
	
	</div>
	</div>
	<script>
    $(document).ready(()=>{
      $('.items').removeClass('.active');
      $('#view-link').addClass('.active');
    })
  </script>
	
	</section>
</body>
</html>