<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
	<div class="container text-center">
	<img th:src="@{'/img/'+${contact.image}}" width="400" height="400" alt="" />
	<h1> <span th:text="${contact.name}"></span> (<span th:text="${contact.nickName}"></span>) </h1>
	<div class="table-responsive">
		
		<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col"><span th:text="'SCM'+${contact.cId}"></span></th>
       </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Email</th>
      <td><span th:text="${contact.email}"></span></td>
      </tr>
      
      <tr>
      <th scope="row">Phone No.</th>
      <td><span th:text="${contact.phone}"></span></td>
      </tr>
      
         <tr>
      <th scope="row">Work</th>
      <td><span th:text="${contact.work}"></span></td>
      </tr>
   
  </tbody>
</table>
	<div class="description text-center">
	<th:block th:utext="${contact.about}"></th:block>
	</div>
	<div class="container text-center">
	<a th:href="@{'/user/update/'+${contact.cId}}" class="btn btn-success">update</a>
	<a th:href="@{'/user/delete/'+${contact.cId}}" class="btn btn-danger">delete</a>
	</div>
	</div>
	</div>
	</section>
</body>
</html>