<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section class="banner d-flex align-items-center justify-content-center">
	<div class="container text-center">
	<h1>Smart Contact Manager</h1>
	<p style="color: white;">we provide smart contact manager for all.please use it</p>
	<a th:href="@{/user/add_contact}" class="btn bg-primary btn-lg">Get Started Here</a>
	</div>
	</section>
</body>
</html>